* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.products {
    padding: 0;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.products__item {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
    padding: 10px 25px;
}
.product__case {
    flex-grow: 1;
    border: 1px solid blue;
}
.product__img {
    width: 100%;
    height: auto;
}
.case__info {
    padding: 10px;
    border-bottom: 1px solid red;
}
.case__value {
    padding: 10px;
}
.search__form {
    margin: 25px;
}
.product__search {
    display: flex;
}
.search__input{
    outline: none;
    padding: 0px 10px;
    width: 380px;
    height: 35px;
    border: 1px solid blue;
    border-radius: 10px;
}
.search {
    margin-left: 5px;
    border: 1px solid green;
    padding: 2px;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    outline: none;
    cursor: pointer;
}
.wrong-value {
    display: none;
    color: red;
}
.sort__products {
    display: flex;
    justify-content: flex-end;
    margin: 15px 50px;
}
.sort__byPrice {
    margin-right: 50px;
}
.sort__text {
    text-transform: uppercase;
    margin-right: 15px;
    font-weight: 600;
}
